* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* Global */
body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  color: #676858;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  color: #4f4f4f;
}

p {
  text-align: center;
  padding: 5px;
}

.logo {
  width: 40px;
  margin-top: 10px;
}

.container {
 display: flex;
 flex-wrap: wrap;
 max-width: 1300px;
 width: 100%;
 margin: 0 auto;
 overflow: hidden;
}

.row {
  width: 100%;
}

.title {
  width: 50%;
  text-align: right;
  padding-right: 30px;
  padding-bottom: 15px;
}

.main-image {
  height: auto;
  margin: 0;
  display: block;
}

.portfolio {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center;
  padding-bottom: 40px;
}

.portfolio-title {
  display: inline;
  font-size: 2.5em;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 5px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.project {
  margin: 10px;
  width: 50%;
  flex: 1 1 auto;
}

/* Footer */
footer {
  text-align: center;
   left: 0;
   bottom: 0;
   height: 30px;
   width: 100%;
}

/* Responsive images */

